In [1]:
import os, sys
import numpy as np

from astropy.io import fits
from astropy.table import Table, join
import pandas as pd

#import desispec
# library location will change ..
#sys.path.append("/global/homes/r/rtojeiro/prospect/prospect/py")
#from prospect import utils_specviewer,plotframes
import matplotlib.pyplot as plt

In [2]:
VI_dir = os.environ['HOME']+'/Dropbox/DESI/DESI-VI/Mini-SV2/BGS_70502/'

In [3]:
#read in all VI files (previously merged)
df = pd.read_csv(VI_dir + 'vi_merged_BGS_tile70502.csv') #BGS tile 70502
vi = Table.from_pandas(df)

In [4]:
vi.keys()

['TargetID',
 'ExpID',
 'Spec version',
 'Redrock version',
 'Redrock spectype',
 'Redrock z',
 'VI scanner',
 'VI class',
 'VI issue',
 'VI z',
 'VI spectype',
 'VI comment']

In [5]:
#to dataframe
vi_df = vi.to_pandas()

In [6]:
#make groups of visual inspections, grouped by unique objects
vi_gp = vi_df.groupby(['TargetID'])
print('There are ' + str(len(vi_df)) + ' visual inspections of a total of ' + str(len(vi_gp)) + ' unique objects')

There are 1232 visual inspections of a total of 982 unique objects

Get a table that holds only the objects that have been inspected more than once, and for which the individual VI classifications differ by 2 or more (problematic VIs)

In [7]:
vi_insp = vi_gp.filter(lambda x: ( (x['VI class'].max()-x['VI class'].min()) >= 2) 
                       & (len(x) >= 2)) #x is a group by TargetID

Get the target IDs of the problematic objects and display in table form (later to add prospect window)

In [9]:
unique_targets = np.unique(vi_insp['TargetID'].tolist())
print('Targets with problematic VI: ', unique_targets)

Targets with problematic VI:  [35185712449980146 35185712454176111 35185712454176649 35185712458371294
 35185718485585807 35185718489779354 35185718489780521 35185766816546922
 35185766820745119]

In [10]:
for i in range(len(unique_targets)): 
    display(vi_insp[vi_insp.TargetID==unique_targets[i]])

,TargetID,ExpID,Spec version,Redrock version,Redrock spectype,Redrock z,VI scanner,VI class,VI issue,VI z,VI spectype,VI comment
75,35185712449980146,-1,0,0,GALAXY,0.07,KAD,4,--,--,--,--
125,35185712449980146,-1,0,0,GALAXY,0.07,acedge,3,--,0.0704,GALAXY,weak lines but consistent with z=0.07
175,35185712449980146,-1,0,0,GALAXY,0.07,rita,2,--,--,--,blue jump; possible Ha; no other features

,TargetID,ExpID,Spec version,Redrock version,Redrock spectype,Redrock z,VI scanner,VI class,VI issue,VI z,VI spectype,VI comment
56,35185712454176111,-1,0,0,GALAXY,0.431,KAD,4,--,--,--,--
106,35185712454176111,-1,0,0,GALAXY,0.431,acedge,2,--,0.4311,GALAXY,continuum mismatch at join of blue and red arms
156,35185712454176111,-1,0,0,GALAXY,0.431,rita,1,--,--,--,"blue jump; featureless"","" noisy"

,TargetID,ExpID,Spec version,Redrock version,Redrock spectype,Redrock z,VI scanner,VI class,VI issue,VI z,VI spectype,VI comment
67,35185712454176649,-1,0,0,GALAXY,0.428,KAD,3,--,--,--,--
117,35185712454176649,-1,0,0,GALAXY,0.428,acedge,3,--,0.4280,GALAXY,fitting double lines??
167,35185712454176649,-1,0,0,GALAXY,0.428,rita,1,--,--,--,wrong z. tentative fit to 4000A break. very w...

,TargetID,ExpID,Spec version,Redrock version,Redrock spectype,Redrock z,VI scanner,VI class,VI issue,VI z,VI spectype,VI comment
785,35185712458371294,-1,0,0,GALAXY,0.248,acedge,4,--,0.2476,GALAXY,LRG
835,35185712458371294,-1,0,0,GALAXY,0.248,rita,2,--,--,--,"continuum only"","" no strong features"

,TargetID,ExpID,Spec version,Redrock version,Redrock spectype,Redrock z,VI scanner,VI class,VI issue,VI z,VI spectype,VI comment
748,35185718485585807,-1,0,0,GALAXY,0.329,acedge,4,--,0.3287,GALAXY,LRG
798,35185718485585807,-1,0,0,GALAXY,0.329,rita,2,--,--,--,"break in the right place"","" possible H&K"

,TargetID,ExpID,Spec version,Redrock version,Redrock spectype,Redrock z,VI scanner,VI class,VI issue,VI z,VI spectype,VI comment
751,35185718489779354,-1,0,0,GALAXY,0.276,acedge,4,--,0.2764,GALAXY,weak but clear lines
801,35185718489779354,-1,0,0,GALAXY,0.276,rita,2,--,--,--,no strong features

,TargetID,ExpID,Spec version,Redrock version,Redrock spectype,Redrock z,VI scanner,VI class,VI issue,VI z,VI spectype,VI comment
891,35185718489780521,-1,0,0,GALAXY,0.118,acedge,4,--,0.1182,GALAXY,LRG with some Hdelta?
941,35185718489780521,-1,0,0,GALAXY,0.118,rita,2,--,--,--,"weak features"","" continuum about right"

,TargetID,ExpID,Spec version,Redrock version,Redrock spectype,Redrock z,VI scanner,VI class,VI issue,VI z,VI spectype,VI comment
478,35185766816546922,-1,0,0,GALAXY,1.401,KAD,2,R,0.4643,--,--
528,35185766816546922,-1,0,0,GALAXY,1.401,rita,0,--,--,--,--

,TargetID,ExpID,Spec version,Redrock version,Redrock spectype,Redrock z,VI scanner,VI class,VI issue,VI z,VI spectype,VI comment
462,35185766820745119,-1,0,0,GALAXY,0.536,KAD,4,R,0.1716,--,--
512,35185766820745119,-1,0,0,GALAXY,0.536,rita,2,--,--,--,single secure line

## Create final table with vi_combined_flag and vi_diff

**vi_combined_flag** will be the arithmetic mean of all of the flags for an object

**vi_diff** will be the maximal difference

Consider *good* redshifts the objects for which:
 * combined_flag > 2.5
 * vi_diff < 2
 
but output table will include ALL objects, as this is of interest to the BGS group

In [10]:
#add the new columns
vi_df['vi_combined_flag'] = vi_df.groupby('TargetID')['VI class'].transform('mean')
vi_df['vi_diff'] = vi_df.groupby('TargetID')['VI class'].transform(lambda x: ( x.max()-x.min()) )

In [11]:
#check the keys
vi_df.keys()

Index(['TargetID', 'ExpID', 'Spec version', 'Redrock version',
       'Redrock spectype', 'Redrock z', 'VI scanner', 'VI class', 'VI issue',
       'VI z', 'VI spectype', 'VI comment', 'vi_combined_flag', 'vi_diff'],
      dtype='object')

In [12]:
vi_df[vi_df['vi_diff'] == 0]

,TargetID,ExpID,Spec version,Redrock version,Redrock spectype,Redrock z,VI scanner,VI class,VI issue,VI z,VI spectype,VI comment,vi_combined_flag,vi_diff
0,35185736609174572,-1,0,0,GALAXY,0.278,acedge,4,--,0.2783,GALAXY,clear lines,4.0,0
1,35185736613364742,-1,0,0,GALAXY,0.441,acedge,4,--,0.4413,GALAXY,LRG,4.0,0
2,35185736613368369,-1,0,0,GALAXY,0.263,acedge,4,--,0.2629,GALAXY,LRG,4.0,0
3,35185736613365274,-1,0,0,GALAXY,0.743,acedge,0,S,--,--,no signal,0.0,0
4,35185736613365164,-1,0,0,GALAXY,0.264,acedge,4,--,0.2635,GALAXY,LRG,4.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1227,35185730577761118,-1,0,0,GALAXY,0.125,acedge,4,--,0.1253,GALAXY,LRG with weak lines,4.0,0
1228,35185730577760441,-1,0,0,GALAXY,0.254,acedge,4,--,0.2542,GALAXY,LRG,4.0,0
1229,35185730573570209,-1,0,0,GALAXY,0.120,acedge,4,--,0.1201,GALAXY,clear lines,4.0,0
1230,35185730577760335,-1,0,0,GALAXY,0.265,acedge,4,--,0.2651,GALAXY,LRG,4.0,0
1231,35185730577760717,-1,0,0,GALAXY,0.072,acedge,4,--,0.0717,GALAXY,clear lines,4.0,0

In [13]:
vi_gp = vi_df.groupby(['TargetID'])

In [14]:
vi_out = vi_df[['TargetID', 'Redrock spectype', 'Redrock z', 'VI z', 'VI spectype', 'vi_combined_flag', 'vi_diff', 'VI issue']].copy()

In [15]:
#check whether any objects marked as "bad redshift" pass the good criteria
#in these cases, the VI_z should be taken - tell Mike!

vi_out[ (vi_out['VI issue']=='R') & (vi_out['vi_diff'] < 2) & (vi_out['vi_combined_flag'] > 2.5)]

,TargetID,Redrock spectype,Redrock z,VI z,VI spectype,vi_combined_flag,vi_diff,VI issue
263,35185760751586313,GALAXY,1.541,0.1087,--,4.0,0,R
296,35185760751583534,GALAXY,1.324,0.2845,--,3.0,0,R
331,35185760772556026,GALAXY,0.094,0.0934,--,3.0,0,R
373,35185760789333148,GALAXY,1.488,0.4133,--,4.0,0,R
596,35185766829132689,GALAXY,0.020,0.1587,--,3.0,0,R

In [35]:
#group by TargetID and make a csv file with the 1st of each group.
#*** THIS NEEDS REVISING - taking the 1st of each group might drop a VI redshift that differs from the Redrock redshift*****
vi_gp = vi_out.groupby(['TargetID'])
vi_gp.first().to_csv(VI_dir+'truth_table_v0.2.txt')

In [18]:
#some numbers:
tt = vi_gp.first()
safe = (tt['vi_combined_flag'] > 2.5) & (tt['vi_diff'] < 2)
print(' total number of unique objects: ' + str(len(tt)))
print( ' total number of safe redshifts: ' + str(len(tt[safe])))

 total number of unique objects: 982
 total number of safe redshifts: 798